.imageContainer {
    background-image: url(https://www.niagarafallsstatepark.com/~/media/parks/niagara-falls/homepage/niagarafallsstatepark-home-2024-crows-nest-stairs-desktop.jpg);
    width: 98.9vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.textContainer {
    background-color: #0071c2;
    height: 300px;
    width: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
    border-radius: 5px;
}

.changeWord {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s;
}