.lifehacks-container {
    padding: 2rem 0;
}

.lifehack-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--navbar-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lifehack-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.lifehack-text {
    flex-grow: 1;
}

.lifehack-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.lifehack-description {
    color: var(--text-color);
    margin-top: 0.5rem;
}

.lifehack-toggle {
    display: none;
}

.lifehack-detail {
    display: none;
    padding-top: 10px;
    font-size: 0.9rem;
    color: var(--text-color);
}

.lifehack-toggle:checked+label+.lifehack-detail {
    display: block;
}

label.btn-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

label.btn-link:hover {
    text-decoration: underline;
}

.quiz-container {
    padding: 2rem;
    background-color: #f9f9f9;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.quiz-show-btn,
#restart-quiz-btn,
.quiz-submit {
    min-width: 200px; 
    text-align: center;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem auto;
}

.quiz-show-btn:hover,
#restart-quiz-btn:hover,
.quiz-submit:hover {
    background-color: #0056b3;
}

.quiz-form {
    display: none;
    margin-top: 1.5rem;
}

.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.quiz-question {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-question p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quiz-question label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin: 0.5rem 0;
}

.quiz-result {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}

.hidden {
    display: none;
}
